//
section.column.is-desktop
    nav.navbar.is-white.is-fixed-top(role='navigation', aria-label='main navigation')
      .container.is-desktop
          .navbar-brand
            a.navbar-item
              img(src='http://via.placeholder.com/112x28', width='112', height='28', alt='Logo')
          .navbar-menu
            .navbar-end
              a.navbar-item(href='#')
                | Projects
              a.navbar-item(href='#')
                | Profile
section
 .hero.is-info(style="margin-top: 30px;")
  .hero-body.is-desktop
    .container
      h1.title
        | Skilled Volunteerism Colony
      h2.subtitle
        | short description
include cards.jade
footer.footer.pt-100.is-white
  .container
    .content.has-text-centered
      p
        strong Skilled Volunteerism Colony
        |  for 
        a(href='https://colony.io/hackathon/') Colony Hackathon

