section.column.is-desktop
    nav.navbar.is-white.is-fixed-top(role='navigation', aria-label='main navigation')
      .container.is-desktop
          .navbar-brand
            a.navbar-item
              img(src='http://via.placeholder.com/112x28', width='112', height='28', alt='Logo')
          .navbar-menu
            .navbar-end
              a.navbar-item(routerLink='#!/index')
                | Home
              a.navbar-item(href='#!/projects')
                | Explore Projects
              a.navbar-item(href='#!/organisation')
                | Manage Organisation
              a.navbar-item(href='#!/profile')
                | Profile