//
include nav.jade
section
 .hero.is-info(style="margin-top: 30px;")
  .hero-body.is-desktop
    .container
      h1.title
        | Skilled Volunteerism Colony
      h2.subtitle
        | Main Page
section
  .container(style="margin-top: 60px; margin-bottom: 60px;")
    .content.has-text-centered
      p
        h1 Proof of Concept
        |   skilled volunteerism
        strong   distributed autonomous organisation (DAO)
        p Built on ColonyJS and the Colony Network
footer.footer.pt-100.is-white
  .container
    .content.has-text-centered
      p
        strong Skilled Volunteerism Colony
        |  for 
        a(href='https://colony.io/hackathon/') Colony Hackathon

