//
include nav.jade
section
 .hero.is-info(style="margin-top: 30px;")
  .hero-body.is-desktop
    .container
      h1.title
        | Skilled Volunteerism Colony
      h2.subtitle
        | Main Page
include project_cards.jade
footer.footer.pt-100.is-white
  .container
    .content.has-text-centered
      p
        strong Skilled Volunteerism Colony
        |  for 
        a(href='https://colony.io/hackathon/') Colony Hackathon

